doctype html
html
  head
    
    each value in []
      link(rel="stylesheet" href=value)
    else 
      link(rel="stylesheet" href="style.css")
    
    - 
      const weights = {
        "xs": "10px",
        "sm": "12px",
        "md": "16px",
        "lg": "20px",
        "xl": "26px",
        "xxl": "30px",
        "xxxl": "40px"
      }
    each weight, label in weights
      style=`.font-size-${label} { font-size: ${weight}}`
    

    style.
      
      #list-options{
        list-style: none;
        padding: 20px
      }
      
      #list-options li {
        display: inline
      } 
      
  body
    // header
    include includes/header
          
    
              
    section.container
      - const h1Content = "Hello World !!"
      h1= h1Content
      div.full-description.
        Lorem fistrum benemeritaar tiene musho peligro benemeritaar. Ese hombree ese hombree va usté muy cargadoo a peich la caidita al ataquerl a peich fistro fistro. Ese pedazo de llevame al sircoo benemeritaar mamaar apetecan a wan me cago en tus muelas mamaar al ataquerl. Hasta luego Lucas diodenoo va usté muy cargadoo amatomaa. Qué dise usteer hasta luego Lucas está la cosa muy malar diodeno jarl. Llevame al sircoo a wan diodenoo ese pedazo de llevame al sircoo sexuarl. Benemeritaar al ataquerl llevame al sircoo torpedo está la cosa muy malar llevame al sircoo.

        Quietooor te va a hasé pupitaa a gramenawer no puedor al ataquerl ese que llega diodeno me cago en tus muelas se calle ustée fistro a gramenawer. A wan diodeno fistro no te digo trigo por no llamarte Rodrigor. Diodeno a wan amatomaa jarl torpedo. Benemeritaar me cago en tus muelas ese pedazo de benemeritaar diodeno qué dise usteer pupita va usté muy cargadoo la caidita. Condemor sexuarl apetecan quietooor ese hombree a wan caballo blanco caballo negroorl qué dise usteer.
      - const divStyles = {display: "flex", padding: "10px"}
      .wrapper(style=divStyles)
        //- each value in []
        //-   h2= value
        //- else 
        //-   | There are no values to show
        
        
        - const user = {name: "Jordi", isLogged: true}
        if user.isLogged
          p Bienvenido #{user.name}
        else 
          | if you are not registered you can #[a(href="/signup")="signup"]
        
        
        - const people = 3;
        case people
          when 0
            p There is no people
          when 1
            p There is one person
          when 2
          when 3
            p There are #{people} people
          default
            p It's full!
        
        
        p Bienvenidos al test con pug
          a Esto es un link de momento vacío
        .wrapper
      input#email(type="email" name="email")
      input#password(type="password" name="password")
      
      - const name = "Chiquito"
      - const buttonStyle = {"font-size": "14px", "background-color": "#df45a5", padding: "5px", margin: "10px"}
      - const buttonActions = ["Guardar","Borrar","Editar","Volver"]
      each action in buttonActions
        button(style=buttonStyle)=`${action} ${name}`
    include includes/footer
    
    
    
